.header{
    background-color: #103A95 ;
    padding:5px;
    margin: 10px;
}
h1{
    color: white;
    text-align: center;
    font-size: 300%;
}
img{
    float: right;
    margin: 20px;
}
body{
    background-color: rgb(14, 160, 165) 145, 150) 145, 150) ;
}
